.home-container {
    width: 500px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;

    .ml-10 {
        margin-left: 10px;
    }

    .inputContent {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tl {
        text-align: left;
    }

}